version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    groups:
      github-actions:
        patterns:
          - "*"

  - package-ecosystem: pip
    directory: /[[ repo_name ]]
    schedule:
      interval: weekly
    groups:
      python:
        patterns:
          - "*"

  - package-ecosystem: npm
    directory: /[[ repo_name ]]/theme/static_src
    schedule:
      interval: weekly
    groups:
      frontend:
        patterns:
          - "*"
