<div class="cabinet-inline-wrap" data-url="{% url 'admin:cabinet_upload' %}">
  <div class="cabinet-inline-field">
    {% include "admin/widgets/foreign_key_raw_id.html" %}
    <img class="cabinet-inline-thumb" src="{% if cabinet.instance.image_file %}{{ cabinet.instance.image_file.url }}{% endif %}" alt="" style="max-width:4rem;max-height:4rem;margin-left:0.5rem;{% if not cabinet.instance.image_file %}display:none;{% endif %}" />
  </div>
  <div class="cabinet-inline-upload">
    {{ cabinet.upload_form.folder }}
    {{ cabinet.upload_form.file }}
  </div>
</div>
