pip>=21.2.2
concurrent-log-handler==0.9.29
psycopg2==2.9.12
python-dotenv==1.2.2
Django==6.0.6
dj-editor-js==0.3.0
django-compressor==4.6.0
django-cleanup==9.0.0
django-extensions==4.1
django-tailwind==4.5.0
django-colorfield==0.14.0
django-lineup==1.0.4
[%% if use_translations %%]
django-modeltranslation==0.20.3
[%% endif %%]
django-preferences-utils==0.1.0
django-subject-imagefield==0.2.13
django-baton==5.6.1
[%% if use_sorl_thumbnail %%]
sorl-thumbnail==13.0.0
[%% endif %%]
[%% if use_cabinet %%]
django-tree-queries==0.24.0
[%% endif %%]
django-web-components==0.2.0
feedparser==6.0.12
