{% load editor_js_filters %}
<style>
    {{ object.render_wrapper_css }}
    {% for item in object.layout_items.all %}
    {{ item.render_item_css }}
    {% endfor %}
</style>
<div style="background-color: {{ object.background_color }}">
    <div class="grid-wrapper-{{ object.id }}">
        {% for item in object.layout_items.all %}
        <div class="grid-item-{{ item.id }}">
            {% if item.text and item.text_position == item.TOP %}
                {{ item.text|render_editor_js }}
            {% endif %}
            {% if item.content %}
                {% include item.content.content_object.get_preview_template with object=item.content.content_object %}
            {% endif %}
            {% if item.text and item.text_position == item.BOTTOM %}
                {{ item.text|render_editor_js }}
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
