{% load pages_tags editor_js_filters %}
<style>
    .video-iframe {
        aspect-ratio: 16 / 9;
    }
</style>
<div style="background-color: {{ object.background_color }}">
    {% if object.show_name %}<h3 class="font-medium">{{ object.name }}</h3>{% endif %}
    {{ object.description|render_editor_js }}
    <div class="d-flex justify-content-center">
        {% if object.platform == 1 %}
            <iframe class="video-iframe" style="width: {{ object.width_percent }}%" src="https://www.youtube.com/embed/{{ object.video_id }}?si=dgIQWWWBNsOjoeNJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        {% elif object.platform == 2 %}
            <iframe src="https://player.vimeo.com/video/{{ object.video_id }}?h=5a5572cc05" class="video-iframe" style="width: {{ object.width_percent }}%" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        {% elif object.platform == 3 %}
            <iframe class="video-iframe" style="width: {{ object.width_percent }}%" src="https://clips.twitch.tv/embed?{{ object.video_id }}&parent={{ request.get_host|replace:":8000|" }}" frameborder="0" allowfullscreen="true" scrolling="no"></iframe>
        {% endif %}
  </div>
</div>
