{% load [%% if use_sorl_thumbnail %%]sorl_thumbnail[%% else %%]sorl_fallback[%% endif %%] %}
<div class="{% if object.background_color %}p-2{% endif %}"
     style="background-color: {{ object.background_color }}">
    {% if object.show_name %}<h3 class="font-medium">{{ object.name }}</h3>{% endif %}
    <div class="row g-2">
        {% for im in object.images.all %}
            <div class="col-md-3 d-md-flex justify-content-center py-2"
                 style="flex-basis: {{ object.basis }}">
                {% if im.file %}
                    {% thumbnail im.file "400x400" crop=im.file.sorl as cropped %}
                        <div onclick="window.location.assign('{{ im.link }}');"
                             class="h-auto w-100   relative d-flex justify-content-center align-items-center bg-cover cursor-pointer"
                             style="border-radius: {{ object.rounding }}px;
                                    aspect-ratio : 1 / 1;
                                    {% if object.rectangular %}max-height:13rem;{% endif %} min-width: 13rem;
                                    background-image: url({{ cropped.url }})">
                        {% endthumbnail %}
                    {% else %}
                        <div onclick="window.location.assign('{{ im.link }}');"
                             class="h-auto w-100 p-3 min-w-[13rem] {% if object.rectangular %}max-h-[13rem]{% endif %} drop-shadow-md  relative flex justify-center items-center bg-cover {% if object.zoom %}transform transition duration-200 hover:scale-105{% endif %} cursor-pointer"
                             style="border-radius: {{ object.rounding }}px;
                                    aspect-ratio : 1 / 1;
                                    background-color:{{ im.bg_color }}">
                        {% endif %}
                        <div class="d-flex flex-row gap-4 justify-content-center align-items-end h-100">
                            <div class="d-flex flex-column justify-content-between h-100">
                                <span class="my-4 ms-4"
                                      style="color: white;
                                             font-size: 2.2rem;
                                             line-height: 2.25rem;
                                             {% if object.shadow %}text-shadow: 2px 4px 12px #000;{% endif %}">{{ im.name }}</span>
                                <span class="ms-4 mb-4"
                                      style="color: white;
                                             font-size: 1.875rem;
                                             line-height: 2.25rem;
                                             {% if object.shadow %}text-shadow: 2px 4px 12px #000;{% endif %}">{{ im.icon_text }}</span>
                            </div>
                            {% if im.icon %}
                                <img src="{{ im.icon.url }}"
                                     class="ml-0 mb-4 me-4"
                                     style="height: 3rem;
                                            {% if object.shadow %}filter: drop-shadow(2px 4px 12px #000);{% endif %}"
                                     alt="{{ im.name }}" />
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
