{% load static tailwind_tags compress %}
    <!DOCTYPE html>
    <html lang="{{ LANGUAGE_CODE }}">
        <head>
            <meta charset="utf-8" />
            <meta content="width=device-width, initial-scale=1.0" name="viewport" />
            <title>{% block title %}{{ pref.site_title }}{% endblock title %}</title>
            {% block meta %}
                <meta name="title" content="{% block meta_title %}{{ pref.meta_title }}{% endblock meta_title %}" />
                <meta name="description" content="{% block meta_description %}{{ pref.meta_description }}{% endblock meta_description %}" />
                <meta name="keywords" content="{% block meta_keywords %}{{ pref.meta_keywords }}{% endblock meta_keywords %}" />
                {% block meta_extra %}{% endblock meta_extra %}
                {% comment %}Open Graph{% endcomment %}
                <meta property="og:title" content="{% block meta_og_title %}{{ pref.meta_title }}{% endblock meta_og_title %}" />
                <meta property="og:type" content="{% block meta_og_type %}website{% endblock meta_og_type %}" />
                <meta property="og:url" content="{% block meta_og_url %}{{ ABSURL }}{% endblock meta_og_url %}" />
                <meta property="og:description" content="{% block meta_og_description %}{{ pref.meta_description }}{% endblock meta_og_description %}" />
                {% if pref.meta_image %}<meta property="og:image" content="{% block meta_og_image %}{{ pref.meta_image.url }}{% endblock meta_og_image %}" />{% endif %}
                {% block meta_og_extra %}{% endblock meta_og_extra %}
                {% comment %}Twitter{% endcomment %}
                <meta name="twitter:card" content="{% block meta_tw_card %}summary{% endblock meta_tw_card %}" />
                <meta name="twitter:url" content="{% block meta_tw_url %}{{ ABSURL }}{% endblock meta_tw_url %}" />
                <meta name="twitter:title" content="{% block meta_tw_title %}{{ pref.meta_title }}{% endblock meta_tw_title %}" />
                <meta name="twitter:description" content="{% block meta_tw_description %}{{ pref.meta_description }}{% endblock meta_tw_description %}" />
                {% if pref.meta_image %}<meta property="twitter:image" content="{% block meta_tw_image %}{{ pref.meta_image.url }}{% endblock meta_tw_image %}" />{% endif %}
                {% block meta_tw_extra %}{% endblock meta_tw_extra %}
            {% endblock meta %}

            {% tailwind_preload_css %}
            {% tailwind_css %}

            {% compress css %}{% endcompress %}

            <link rel="stylesheet" href="{% static 'core/src/vendor/photoswipe/photoswipe.css' %}" />
            <link rel="stylesheet" href="{% static 'core/src/vendor/photoswipe/photoswipe-dynamic-caption-plugin.css' %}" />
            <link rel="preload" href="{% static 'core/src/vendor/material-symbols/material-symbols-public.woff2' %}" as="font" type="font/woff2" crossorigin />
            <link rel="stylesheet" href="{% static 'core/src/vendor/material-symbols/material-symbols-public.css' %}" />
            {% include 'includes/swiper_assets.html' %}

            {% block extra_css %}{% endblock extra_css %}

            {% compress js %}
            <script src="{% static 'core/src/vendor/photoswipe/photoswipe-lightbox.umd.min.js' %}"></script>
            <script src="{% static 'core/src/vendor/photoswipe/photoswipe.umd.min.js' %}"></script>
            <script src="{% static 'core/src/vendor/photoswipe/photoswipe-dynamic-caption-plugin.umd.min.js' %}"></script>
            <script src="{% static 'core/src/js/photoswipe-init.js' %}" type="text/javascript" charset="utf-8"></script>
            <script src="{% static 'core/src/js/core.js' %}" type="text/javascript" charset="utf-8"></script>
            {% endcompress %}
            {% block extra_js %}{% endblock extra_js %}
        </head>
        <body class="{% block body_css %}{% endblock body_css %}">
            {% block navbar %}
                <div class="bg-rose-800 color-white py-5">
                    <a href="{% url 'home' %}" class="md:max-w-5xl md:mx-auto px-5">
                        {{ pref.site_title }}
                    </a>
                </div>
            {% endblock navbar %}
            {% block jumbotron %}{% endblock jumbotron %}
            {% block content %}{% endblock content %}
            <footer>
                <div class="md:max-w-5xl md:mx-auto px-5">
                </div>
            </footer>

            {% if COOKIERULEZ_WIDGET_CODE %}
                <!-- Cookierulez cookie-consent widget -->
                <link href="https://cookierulez.sqrt64.it/static/widget/css/widget.css" rel="stylesheet" />
                <script src="https://cookierulez.sqrt64.it/widget/{{ COOKIERULEZ_WIDGET_CODE|urlencode:'' }}"></script>
            {% endif %}
        </body>
</html>
