{% extends 'pages/page_content_base.html' %}
{% load [%% if use_sorl_thumbnail %%]sorl_thumbnail[%% else %%]sorl_fallback[%% endif %%] components %}

{% block inner_block %}
<div class="flex flex-col justify-center md:flex-row md:align-top flex-wrap container">
  {% for im in obj.images.all %}
    <div class="hidden md:flex flex-col justify-start p-2" style="flex-basis: {{obj.basis}};">
      {% if im.file %}
        {% thumbnail im.file "400x400" crop=im.file.sorl as cropped %}
          <div 
            onclick="window.location.assign('{{ im.link }}');" 
            class="h-auto w-full p-3 min-w-[13rem] {% if obj.rectangular %}max-h-[13rem]{% endif %} drop-shadow-md relative flex justify-center items-center bg-cover {% if obj.zoom %} transform transition duration-200 hover:scale-105 {% endif %} cursor-pointer" 
            style="border-radius: {{obj.rounding}}px; aspect-ratio : 1 / 1; {% if im.file and im.bg_color %} background:linear-gradient(0deg, {{im.bg_color}}80, {{im.bg_color}}80), url({{cropped.url}});{% elif im.file %} background-image: url({{cropped.url}}); {% else %} background-color:{{im.bg_color}}; {% endif %}">
        {% endthumbnail %}
      {% else %}
        <div onclick="window.location.assign('{{ im.link }}');" class="h-auto w-full p-3 min-w-[13rem] {% if obj.rectangular %}max-h-[13rem]{% endif %} drop-shadow-md  relative flex justify-center items-center bg-cover {% if obj.zoom %} transform transition duration-200 hover:scale-105 {% endif %} cursor-pointer" style="border-radius: {{obj.rounding}}px; aspect-ratio : 1 / 1; background-color:{{im.bg_color}};">
      {% endif %}
          <div class="flex flex-col gap-5 items-center w-full">
            {% if im.icon %}
              <img src="{{im.icon.url}}" class="text-slate-50 h-32 ml-0 {% if im.shadow %}drop-shadow-[0_0_5px_rgba(0,0,0,0.5)]{% endif %}" alt="{{im.name}}"/>
            {% endif %}
            <span class="text-slate-50 ms-0 text-center font-bold">
              <p class="text-xl font-display" style="color:{{im.text_color}}; {% if im.shadow %}text-shadow: rgba(0,0,0,0.5) 0 0 5px;{% endif %}">
                {{im.name}}
              </p>
            </span>
          </div>
        </div>
    </div>
    <div class="mb-6 w-full max-w-full flex flex-col gap-5 items-center md:hidden">
    {% if im.file %}
      {% thumbnail im.file "800x200" crop=im.file.sorl as cropped %}
        <div onclick="window.location.assign('{{ im.link }}');" class="px-7 h-52 w-full max-w-full drop-shadow-md relative flex  items-center bg-cover" style="border-radius: {{obj.rounding}}px;  {% if im.file and im.bg_color %} background:linear-gradient(0deg, {{im.bg_color}}80, {{im.bg_color}}80), url({{cropped.url}}); {% elif im.file %} background-image: url({{cropped.url}}); {% else %} background-color:{{im.bg_color}}; {% endif %}">
      {% endthumbnail %}
    {% else %}
      <div onclick="window.location.assign('{{ im.link }}');" class="px-7 h-52 w-full max-w-full drop-shadow-md relative flex  items-center bg-cover" style="border-radius: {{obj.rounding}}px; background-color:{{im.bg_color}};">
    {% endif %}
        <div class="flex flex-row items-center">
          {% if im.icon %}
            <img src="{{im.icon.url}}" class="text-slate-50 h-32 {% if im.shadow %}drop-shadow-[0_0_5px_rgba(0,0,0,0.5)]{% endif %}" alt="{{im.name}}"/>
          {% endif %}
          <span class="text-slate-50 ms-6 lg:ms-0 text-3xl font-bold font-display" style="color:{{im.text_color}}; {% if im.shadow %}text-shadow: rgba(0,0,0,0.5) 0 0 5px;{% endif %}">{{im.name}}</span>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}

