{% extends 'pages/page_content_base.html' %}
{% load static components editor_js_filters %}

{% block inner_block %}

    {% if obj.use_accordion %}
        {% accordion id=obj.get_unique_id|add:"accordion" name=obj.name bg=obj.background_color %}
        <div class="flex {% if obj.image_position == 'top' or obj.image_position == 'bottom' %}flex-col{% endif %} gap-8">
            
            <div class="{% if obj.image_position == 'top' or obj.image_position == 'left' %}order-1{% endif %}" 
                 style="
                    {% if obj.image_position == 'right' and obj.left_column_width %}
                        width: {{ obj.left_column_width }}%; flex-shrink: 0;
                    {% elif obj.image_position == 'left' %}
                        flex: 1;
                    {% endif %}
                 ">
                {{ obj.text|render_editor_js }}
            </div>

            <div style="{% if obj.image_position == 'left' and obj.left_column_width %}width: {{ obj.left_column_width }}%{% endif %}">
                <div class="js-pswp-gallery">
                    <a href="{{ obj.image.url }}" class="js-lightbox-item block cursor-zoom-in" data-pswp-width="{{ obj.image.width }}" data-pswp-height="{{ obj.image.height }}">
                        <img width={{ obj.image.width }} height={{ obj.image.height }} class="w-full h-auto" src="{{ obj.image.url }}" alt="{% if obj.caption %} {{ obj.caption }} {% endif %}" />
                        {% if obj.show_captions %}
                        <span class="pswp-caption-content">
                            {% if obj.caption %} {{ obj.caption }} {% endif %}
                            <em>{% if obj.credits %} by {{ obj.credits }} {% endif %}</em>
                        </span>
                        {% endif %}
                    </a>
                </div>
                {% if obj.show_captions %}
                    {% if obj.credits or obj.caption %}
                    <p class="ml-2 mt-1 italic text-center">
                        {% if obj.caption %} {{ obj.caption }} {% endif %}
                        {% if obj.credits and obj.caption %} - {% endif %}
                        {% if obj.credits %} {{ obj.credits }} {% endif %}
                    </p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% endaccordion %}

    {% else %}
        <div class="flex {% if obj.image_position == 'top' or obj.image_position == 'bottom' %}flex-col{% endif %} gap-8">
            <div class="{% if obj.image_position == 'top' or obj.image_position == 'left' %}order-1{% endif %}" 
                 style="
                    {% if obj.image_position == 'right' and obj.left_column_width %}
                        width: {{ obj.left_column_width }}%; flex-shrink: 0;
                    {% elif obj.image_position == 'left' %}
                        flex: 1;
                    {% endif %}
                 ">
                {{ obj.text|render_editor_js }}
            </div>

            <div style="
                    {% if obj.image_position == 'left' and obj.left_column_width %}
                        width: {{ obj.left_column_width }}%; flex-shrink: 0;
                    {% elif obj.image_position == 'right' %}
                        flex: 1;
                    {% endif %}
                 ">
                <div class="js-pswp-gallery">
                    <a href="{{ obj.image.url }}" class="js-lightbox-item block cursor-zoom-in" data-pswp-width="{{ obj.image.width }}" data-pswp-height="{{ obj.image.height }}">
                        <img width={{ obj.image.width }} height={{ obj.image.height }} class="w-full h-auto" src="{{ obj.image.url }}" alt="{% if obj.caption %} {{ obj.caption }} {% endif %}" />
                        {% if obj.show_captions %}
                        <span class="pswp-caption-content">
                            {% if obj.caption %} {{ obj.caption }} {% endif %}
                            <em>{% if obj.credits %} by {{ obj.credits }} {% endif %}</em>
                        </span>
                        {% endif %}
                    </a>
                </div>
                {% if obj.show_captions %}
                    {% if obj.credits or obj.caption %}
                    <p class="ml-2 mt-1 italic text-center">
                        {% if obj.caption %} {{ obj.caption }} {% endif %}
                        {% if obj.credits and obj.caption %} - {% endif %}
                        {% if obj.credits %} {{ obj.credits }} {% endif %}
                    </p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% endif %}

{% endblock inner_block %}
