name: Deploy production

on:
  push:
    branches:
      - "main"
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: deploy-production
  cancel-in-progress: false

jobs:
  deploy:
    uses: ./.github/workflows/_deploy.yml
    with:
      environment: production
      app_port: ${{ vars.[[ repo_name | upper | replace('-', '_') ]]_PRODUCTION_PORT }}
    secrets: inherit
