name: Deploy staging

on:
  push:
    branches:
      - "staging"
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: deploy-staging
  cancel-in-progress: false

jobs:
  deploy:
    uses: ./.github/workflows/_deploy.yml
    with:
      environment: staging
      app_port: ${{ vars.[[ repo_name | upper | replace('-', '_') ]]_STAGING_PORT }}
    secrets: inherit
